<div>
 <ul class="comment-article">
    <li><span class="number"><%= image_tag "grayarrow.gif", :class => "triangle"  %></span><a class="article-title" href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html"> Firebase Leaves Beta Today</a><span class="source"> (firebase.com)</span></li>
    <li class="comments-line">63 points by <a href="#">lyime</a> 56 minutes ago | <a href="#">17 comments</a></li> 
  </ul>
  <form class="form-container">
    <input class="textarea" type="text" name="comment">
    <br>
    <input type="submit" value="add comment">
  </form>
</div>