<div class="article-container">
  <ul class="article-list">
    <li><span class="number">1. <%= image_tag "grayarrow.gif", :class => "triangle"  %></span><a class="article-title" href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html"> Firebase Leaves Beta Today</a><span class="source"> (firebase.com)</span></li>
    <li>63 points by <a href="#">lyime</a> 56 minutes ago | <a href="#">17 comments</a></li>

    <li><span class="number">2. <%= image_tag "grayarrow.gif", :class => "triangle"  %></span><a class="article-title" href="http://fitzgeraldnick.com/weblog/50/"> Destructuring Assignment in ECMAScript</a><span class="source"> (fitzgeraldnick.com)</span></li>
    <li>40 points by <a href="#">lyime</a> 49 minutes ago | <a href="#">5 comments</a></li>

    <li class="more"><a href="#">More</a></li>

  </ul>
</div>
