// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-container{
  background: #f6f6ef;
  @include clearfix;
}

.article-list {
  list-style: none;
  padding-top: 5px;
  padding-left: 10px;
  li {
    margin: 0;
  }
    a.article-title {
      text-decoration: none;
      color:#000000;
      font-size: 10pt;
    }
    a:visited {
      color: #828282;
      }
}

.source {
  color:#828282;
  font-size: 8pt;
}

.article-list > li:nth-child(even) {
  margin: 0;
  color:#828282;
  font-size: 7pt;
  padding-left: 30px;
  a {
    text-decoration: none;
    color:#828282;
  }
    a:hover {
      text-decoration: underline;
    }
}

.more {
  padding-bottom: 5px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    font-size: 10pt;
    color:#000000;
  }
    a:visited {
      color:#828282;
    }
}

.number {
  font-size: 10pt;
  color:#828282;
  font-family: Verdana;
}
